body {
    background: var(--fundo-rodape);
}

.inc {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    background: var(--fundo-rodape);
}

.linha-final {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--letra-laranja);
    align-items: center;
    display: flex;
}

.linha-final h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--letras-brancas);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.linha-final .tracado-negro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 2px;
    background: var(--fundo-rodape);
}

.linha-final h1 .letra-laranja {
    color: var(--letra-laranja);
}

/* ========== RESPONSIVO ========== */

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
    .inc {
        position: relative;
        height: auto;
        min-height: 60px;
        padding: 20px 0;
    }
        .impostor {
        position: absolute;
        top: 0px;
        left: 130%;
        transform: translateX(-100%);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .linha-final {
        position: absolute;
        top: 50%;
        width: 100%;
    }
    .linha-final h1 {
        font-size: 18px;
        white-space: nowrap;
    }
    .linha-final .tracado-negro {
        width: 40%;
    }
}

@media (max-width: 479px) {

}