body {
  background: var(--fundo-rodape);
}

.inc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: var(--fundo-rodape) ;
  }

  .inc .fundo-inc {
    position: absolute;
    top: 10%;
    left: 100%;
    height: 90%;
    transform: translateX(-100%);
  }

  .inc .frase-inc-txt {
    position: absolute;
    top: 21%;
    left: 5%;
  }

  .inc .frase-inc-txt .inc-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: var(--laranja);
  }

  .inc .frase-inc-txt .inc-2 {
    margin-top: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
    font-size: 36pt;
    line-height: 35pt;
  }

  .inc .frase-inc-txt .inc-3 {
    font-family: "allura", cursive;
    color: var(--laranja);
    font-size: 40pt;
    margin-top: -12%;
    line-height: 35pt;
  }

  .inc .descrição {
    position: absolute;
    top: 57.2%;
    left: 0;
    margin-left: 6%;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
  } 

    .inc .ns-inc-btn {
    position: absolute;
    top: 81.4%;
    left: 0;

    text-decoration: none;
    margin-left: 6%;
    font-size: 11px !important;
    font-family: Arial, Helvetica, sans-serif;

    border: none;

    background: var(--laranja);
    color: var(--letras-escuras) !important;
    padding: 10px 12px !important;
    border-radius: 25px !important;
    transition: all 0.3s ease !important;
    align-items: center;
    text-align: center;

    cursor: pointer;
  }

  .inc .ns-inc-btn:hover {
    background: var(--laranja-hover);
    scale: 1.05;
  }

  .inc .vp-inc-btn {
    position: absolute;
    top: 81.4%;
    left: 0;

    text-decoration: none;
    margin-left: 6%;
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif;

    border: none;

    background: var(--letra-laranja);
    color: var(--letras-escuras) !important;
    padding: 10px 12px !important;
    border-radius: 5px !important;
    transition: all 0.3s ease !important;
    align-items: center;
    text-align: center;

    cursor: pointer;
  }

  .inc .vp-inc-btn:hover {
    background: var(--letra-laranja);
    scale: 1.05;
  }

  .inc .vnp-inc-btn {
    position: absolute;
    top: 81.4%;
    left: 0;

    margin-left: 22%;
    font-size: 11px !important;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    border: var(--borda-botão);

    background: var(--fundo-rodape);
    color: var(--letras-brancas) !important;
    padding: 10px 12px !important;
    border-radius: 25px !important;
    transition: all 0.3s ease !important;
    align-items: center;
    text-align: center;

    cursor: pointer;
  }

  .inc .vnp-inc-btn:hover {
    background: var(--fundo-rodape);
    scale: 1.05;
  }

  .letra-laranja {
    color: var(--letra-laranja);
  }

/* ========== RESPONSIVO ========== */

@media (max-width: 1023px) {}

@media (max-width: 767px) {
    .inc {
        position: relative;
        width: 100%;
        height: 43%;
        padding-bottom: 40px;
    }
    .inc .fundo-inc {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

            .inc .inf-filter {
        position: absolute;
        top: 0;
        left: 8%;
        height: 100%;
        opacity: 0;
    }

        .impostor {
        position: absolute;
        top: 0px;
        left: 130%;
        transform: translateX(-100%);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .inc .frase-inc-txt {
        position: relative;
        top: auto;
        left: auto;
        padding: 50px 20px 0;
    }
    .inc .frase-inc-txt .inc-1 {
        font-size: 12px;
    }

    .inc .frase-inc-txt .inc-2 {
        font-size: 28px;
        line-height: 32px;
        padding: 10px 0 30px 0;
    }

    .inc .frase-inc-txt .inc-3 {
        font-size: 32px;
        line-height: 28px;
        padding: 40px 0 30px 0;
    }

    .inc .descrição {
        position: relative;
        top: auto;
        left: auto;
        margin: -30px 20px 20px;
        font-size: 13px;
        line-height: 20px;
    }

    .inc .ns-inc-btn,
    .inc .vnp-inc-btn {
        position: relative;
        top: auto;
        left: auto;
        display: inline-block;
        margin: 10px 10px 0 20px;
        font-size: 11px !important;
        padding: 10px 14px !important;
    }
}

@media (max-width: 479px) {}